

body {
    margin: 0px;
    padding: 0px;
}

.header {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu-left {
    display: flex;
    gap: 15px;
}

.menu-rigth {
    display: flex;
   gap: 15px;
}